**/.DS_Store
GoT_notes.txt
js/jquery.min.js
js/d3.min.js
geography/
**/indexOld*.html
m/
**/*Old*
js-old/
unused/
genealogy/
duration-house-double-count/
wordcloud/
data/old/
scenes-character-force-not-ready/
relations-circle-big/
map-big/