body {
  margin-top: 0;
  font-family: Georgia, serif;
  text-align: center;
  background: #fff;
}

.breadcrumbs {
  font-size: small;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-style: italic;
  border-bottom: solid #eee 1px;
  color: #000;
}

.breadcrumbs a {
  color: #669;
}

.breadcrumbs a:hover {
  color: #000;
}

.logo {
  width: 100%;
  max-width: 500px;
  margin: 1em auto;
}


p.caption {
  text-align: center;
  font-size: small;
  font-style: italic;
  width: 400px;
  margin: 0 auto;
}



p, li {
  line-height: 1.5em;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
}

canvas {
  cursor: move;
}

.wrapper {
  width: 600px;
  margin: 1em auto;
  text-align: left;
}

blockquote {
  border-left: solid #eee 5px;
  padding: 0 15px;
  margin: 0;
}

/*#map {
  width: 1000px;
  margin: 0 auto;
}

#map h1 {
  position: absolute;
  width: 1000px;
}*/

.foreground {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  pointer-events: all;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.foreground.zooming {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

.graticule {
  fill: none;
  stroke: #636B62;
  stroke-width: .5px;
  stroke-dasharray: 2,2;
}

.land {
  fill: #69D2E7;
  stroke: none;
}

.mesh {
  stroke: #50576A;
  stroke-width: .5px;
  fill: none;
}

.point {
  fill: #f00;
}
