.breadcrumbs {
  font-size: small;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-style: italic;
  border-bottom: solid #eee 1px;
  color: #000;
}

.breadcrumbs a {
  color: #669;
}

.breadcrumbs a:hover {
  color: #000;
}

p.cite {
  text-align: right;
  font-size: small;
  font-style: italic;
}

p.cite, p.cite a, p.caption, p.caption a {
  color: #666;
}

p.caption {
  text-align: center;
  font-size: small;
  font-style: italic;
  width: 400px;
  margin: 0 auto;
}

body {
  margin-top: 0;
  font-family: Georgia, serif;
  text-align: center;
  background: #fff;
}

p, li {
  line-height: 1.5em;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
}

canvas {
  cursor: move;
}

.wrapper {
  width: 600px;
  margin: 1em auto;
  text-align: left;
}

.center {
  text-align: center;
}

.thumb {
  width: 200px;
  height: 220px;
  text-align: center;
  float: left;
}

.thumb img {
  width: 200px;
  height: 174px;
  border: none;
}

.clear {
  clear: both;
}

blockquote {
  border-left: solid #eee 5px;
  padding: 0 15px;
  margin: 0;
}

.copyright {
  font-size: small;
}